/******************* GLOBAL STYLES *******************/
@font-face {
    font-family: helveticaneue;
    src: url(<?php bloginfo('template_directory'); ?>/fonts/HelveticaNeue.otf);
    }
html {
	-webkit-text-size-adjust: none;
}
body, body * {
	margin: 0;
	padding: 0;
    
	font-family: helveticaneue, helvetica, arial, sans-serif;
	font-size: 100%; /* 16px */
	line-height: 150%; /* 24px */

}
h1 a, h2 a, h3 a{
	text-decoration: none;
	color: black;
}
a img {
   border:none;
   
}
img, embed, object, video, iframe{
	max-width: 100%;
}
ol, ul {
	list-style-type: none;
	
}
h1,h2,h3,h4 {
	font-weight:bold;
	
}
h1 {
	font-size: 2.25em; /* 36px / 16px */
}

h2 {
	font-size: 2em; /* 32px / 16px */
}
small {
    font-size: smaller;
}

/******************* GENERAL STYLES ******************/

#wrapper{
	
}

/******************* HEADER STYLES *******************/

header{
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#logo{
    width: 100%;
    padding: 50px 0px;
}
#logo img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

/******************* NAV STYLES **********************/

nav{
	overflow: hidden;
	text-align: center;
    background: #222;
}
nav ul{ /* MAIN NAV */
	list-style-type: none;
	display: inline-block;
    font-size: 14pt;
}
nav ul li{
	float:left;
	display:inline-block;
}
nav ul li a{
	display:block;
	padding:5px 26px 0px 26px;
	text-decoration:none;
    color: #fff;
}
nav ul li a:hover {
}
nav ul li.current-menu-item a{
    color:aqua;
}
nav ul li ul{
    display:none;
}

/******************* BODY STYLES *********************/

#middle{
	overflow: hidden;
	max-width: 940px;
	margin: 0 auto;
	padding: 10px 3%;
}

/* 2-COLUMN RIGHT SIDEBAR LAYOUT CSS */

#content{
	float:left;
	width: 65.9574468085106%;
}
#right-sidebar{
	float:right;
	width: 29.5744680851064%;
}
#right-sidebar a{
    color: black;
}
#sidebar-contact,#sidebar resume{
    padding-bottom: 20px;
}
#minibio img{
    float: left;
    padding: 0px 10px 0px 0px;
}
#minibio a{
    float: right;
    color: #000;
}
/******************* POST STYLES *****************/

#content article.post-excerpt{
    overflow: hidden;
    margin-bottom: 20px;
}

img.wp-post-image{}
img.attachment-thumbnail{
    float: left;
    margin: 4px 20px 0 0;
}
img.attachment-medium{}
img.attachment-large{}
img.attachment-full{}

/******************* SIDEBAR STYLES *******************/

#sidebar-subnav{

}
#sidebar-quote blockquote{
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
}

/******************* FOOTER STYLES *******************/

footer{
	overflow: hidden;
    text-align: center;
	background: #222;
}
footer p{
    padding: 20px;
    color: #fff;
}

/******************* FOOTER NAV **********************/

nav{
	overflow: hidden;
	
}

/******************* RESPONSIVE STYLES **********************/

/* Desktop & Mobile Screens Set to 1024 x 768 or Below  */
@media screen and (max-width: 1024px) {

}

/* Desktop & Mobile Screens Set to a Width of 600px or Below */
@media screen and (max-width: 600px) {

}

/******************* WORDPRESS CORE STYLES **********************/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}












